spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/academiafit
    username: admin
    password: senha123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

spring.security.enabled: false
